 body {
   padding: 0;
   margin: 0 auto;
   width: 100%;
   background-image: url(../photos/wheat.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   position: relative;
 }
.body{
	width: 80%; 
    padding: 0;
    margin: 0 auto;
 }
 header {
	font:"Tahoma, Geneva, sans-serif";
    font-size: 1.0em; 
	background-color:#FFFFFF;
 }
 header a {
	text-decoration: none;
 }
.language {
	text-align: right; 
	padding: 0 2%;
 }
.language a:hover { 
    text-decoration: underline;
}
.language p {
	color:#000000; 
	margin: 0;
	font-size: 1.2em;
}
.AgriProfitTaking {
	text-align:center; 
	margin: 0; 
	padding: 0;
}
.AgriProfitTaking p {
	color:#FF9803; 
	margin: 0;
	font-family: 'Raleway', sans-serif;  
	font-size: 2.3em;
	font-weight: bold;
}
.Subscribe {
	text-align: right; 
	padding: 0 2%; 
	margin: 0;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
}
.Subscribe p {
	color:#000000; 
	margin: 0; 
	text-decoration: underline;

}
.mobile_nav_icon {
  border-bottom: 10px double #FF9803;
  border-top: 3px solid #FF9803;
  cursor: pointer;
  float: left;
  height: 4px;
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 0px;
  transition: all 0.2s ease 0s;
  width: 25px;
  display: none;
  background-color: rgba(250, 250, 250, 0); 
}
.nav {
	width: inherit; 
	background-color: rgba(27,31,115,1.00); 
	margin: 0;
		}
.main-nav-ul {		
	display: flex;
	margin: 0;
	padding: 0.3% 0;
	font-size: 1.4em;
}
.main-nav-ul li {
	text-align: center;
	display: inline-block; 
	width: 100%; 
	margin: 0;
	padding: 0;
}
.main-nav-ul li a p {
	color:#FF9803; 
	margin: 0 auto;
}
.main-nav-ul li a:hover { 
    text-decoration: underline;
	color: #FF9803;
}
.main-home {
	background-color: rgba(250, 250, 250, 0.7); 
	height: 75em; 
	width: 100%; 
}
.maine-home-titel {
	text-align: center; 
	color:#000000; 
	font-size: 1.4em;
	margin-top: 0px;
	padding-top: 2%;
	letter-spacing: 0.5em;
}
.main-news {
	padding: 0; 
	display: flex; 
	margin: 0; 
	width: 100%; 
	font-size: 1.2em;
}
.news-titel {
	font-family: 'Cinzel', serif;
}
.news1 {
	float: left; 
	width: 56%; 
	margin: 2% auto;
}
.news2 {
	float: right;
	width: 36%; 
	margin: 2% auto;
}
.footer a {
	text-decoration: none;
}
.main-footer {
	padding: 0; 
	display: flex; 
	background-color:#0164FF;
    margin: 0; width: 100%;
}
.footer-boxs {
	float: left; 
	width: 50%
}
.footer-boxs p {
	font:"Tahoma, Geneva, sans-serif"; 
	color:#FFFFFF; font-size: 0.9em;
}
.footer-text {
	list-style-type: none;
}
.footer-text a p {
	font:"Tahoma, Geneva, sans-serif"; 
	color:#FFFFFF; 
	margin: 0 auto;
    font-size: 0.9em;
}
.mobile_nav {
		display: none;	
}
@media screen and (max-width: 800px) {
	.news1.news_mobi {
		width: inherit; 
	margin: 2% auto;
	display: block;	
    }
	.news2.news_mobi {
		width: inherit; 
	margin: 2% auto;
	display: block;	
    }
	.main-news.mobi {
		display: block; 
		padding: 2%;
		width: 100%;
	}
		.mobile_nav_icon {
		display: inline-block;
		float: left;
	}
	.main-nav-ul {
		display: none;	
    }
	.mobile_nav {
		margin: 0;	
		background-color: rgba(27,31,115,1.00); 	
		font-size: 1.0em;	
		padding: 4% 0 0 12%;
		height: 100%;
		text-align: left;
		list-style-type: none;
		color:#FF9803;
		display: none;
	}

	 .mobile_nav li a p {
	  	color:#FF9803; 
	    margin: 0;
    }
   .mobile_nav li a:hover { 
       text-decoration: underline;
	   color: #FF9803;
    }
    .submenu_mob {
    	padding: 0 0 0 5%;
    	font-size: 0.8em;
    }
    .submenu_mob li {
        list-style-type: none;
    }
    .submenu_mob li a {
        color: #FFFFFF;
    }

}
.submenu {
	display: block; /*скрываем все пункты меню*/
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;	
	background-color:#FFFFFF;
}
.submenu li {	
	margin: 0;
    padding: 0 0 0 15%;
	color: #FF9803;
	list-style-type: none;
	text-align: left;
}	
.submenu li a {	
	font-size: 0.8em;	
	margin: 0;
    padding: 0;
	height: 100%;
	text-align: left;
	color: #000;
	list-style-type: none;
}
.submenu li a:hover { 
    text-decoration: underline;
	color: #FF9803;
}

